h3 {
  color: green;
  background-color: white;
}
h1 {
  color: green;
  background-color:  #FEF5E7;
}
h2{
  color: #52BE80;
}
header {
  background-color: #FEF5E7;
  border: 10px solid;
  padding: 5px;
  border-radius: 10%;
}
.members{
  width: 40%;
}
.something-awesome {
  color: green;
  background-color: green;
  border: 20px dashed black;
  padding: 5px;
  border-radius: 10%;
}
p {
  font-size: 16:
}
footer{
  color: white;
  background-color: #34495E;
}
